.childElementCard {
  margin: 5%;
  .imageCard {
    object-fit: cover;
    min-height: 40vh;
    max-height: 40vh;
    max-width: 30vw;
    min-width: 30vw;
    width: 100%;
  }
  .Content_Product
  {
    position: absolute;
    .textNameFood {
      color: rgba(255, 255, 255, 0.7);
      transform: translateY(-10vh);
    }
  }
  .hoverImageCard {
    height: 40%; //////////////////////////////////////When install aos library
    width: 29vw;
    background-color: rgba(0, 0, 0, 0.62);
    position: absolute;
    justify-content: center;
    animation-name: hoverImageCardAnimation;
    animation-duration: 1s;
    transition: 1s;
    .hoverButton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      box-shadow: 0 0.5em 0.5em -0.4em black;
      color: red;
    }
  }
  .dispayNone {
    display: none;
  }
  @keyframes hoverImageCardAnimation {
    0% {
      transform: translate(0%, -5%);
    }
    100% {
      transform: translate(0%, 0%);
    }
  }
  .text_NameFood {
    font-size: 2.4vh;
  }
}
///////////////CardComponentHome
.Go_foodName {
  display: inline-block;
}
.button_Go {
  float: right;
}
