.Form_Check_Infor {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  .cardForm {
    width: 60%;
    height: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    .elementCard {
      .imageCard {
        object-fit: cover;
        width: 30vw;
        height: 100%;
      }
      .Button_CheckingForm {
        position: relative;
        transform: translateY(9vh);
        left: 2vh;
      }
    }
  }
}
