.checkingForm {
  width: 100%;
  padding: 13em 0vh 7vh 0vh;
  display: flex;
  justify-content: center;
  .form {
    width: 50%;
    .line_1 {
      margin-right: 10%;
    }
    .line_1,
    .line_2 {
      width: 45%;
      padding: 4vh 0vh 4vh 0vh;
    }
    .Container_Submit_SubTotal {
      display: grid;
      grid-template-columns: auto auto;
      .button_form_checkout,
      .container_subTotal_Text {
        margin-top: 5vh;
      }
      .button_form_checkout
      {
          width: 50%;
      }
      .subTotal_Text {
       float: left;
       margin-left: 10vw;
      }
    }
  }
}
