.footer
{
    $lightDardk: #ededed;
    background-color: $lightDardk;
    margin-top: 3em;
    padding: 2em 0em 2em 0em;
    width: 100%;
    overflow: hidden    ;
    .rowCus
    {
        display: grid;
        grid-template-columns: auto auto auto auto;
        .col-md-3Cus
        {
            h5,p
            {
               position: relative;
            }
            .icon
            {
                position: relative;
                right: 0.5em;
                i
                {
                    font-size: 1.5em;
                    padding: 0.5em;
                }
            }
            h2
            {
                padding-bottom: 0.5em;
                left: 3em;
            }
            h5
            {
                font-weight: 700;
                padding-bottom: 1em;
                left: 2.5em;
            }
            p
            {
                left: 3em;
            }
        }
    }
}
@media (max-width: 1024px)
{
    .footer
    {
    $lightDardk: #ededed;
    background-color: $lightDardk;
    margin-top: 3em;
    padding: 2em 0em 2em 0em;
    .rowCus
    {
        .col-md-3Cus
        {
            padding-left: 3em;
            padding-top: 3em;
        }
        .componentLogo
        {
            padding-left: 6em;
        }
    }
}
}
@media (max-width: 540px)
{
    .footer
        {
        $lightDardk: #ededed;
        background-color: $lightDardk;
        margin-top: 3em;
        padding: 2em 0em 2em 0em;
        .rowCus
        {
            display: grid;
            grid-template-columns: auto auto;
            .col-md-3Cus
            {
                padding-left: 3em;
                padding-top: 3em;
            }
            .componentLogo
            {
                padding-left: 6em;
            }
        }
    }
}
@media (max-width: 414px)
{
    .footer
    {
        $lightDardk: #ededed;
        background-color: $lightDardk;
        margin-top: 3em;
        padding: 2em 0em 2em 0em;
        .rowCus
        {
            display: grid;
            grid-template-columns: auto auto;
            .col-md-3Cus
            {
                padding-top: 3em;
                transform: translateX(-2em);
                .icon
                {
                    display: grid;
                    grid-template-columns: auto auto;
                    i
                    {

                    }
                }
            }
            .componentLogo
            {
                padding-left: 6em;
            }
        }
    }
}
@media (max-width: 320px)
{
    .footer
    {
        $lightDardk: #ededed;
        background-color: $lightDardk;
        margin-top: 3em;
        padding: 2em 0em 2em 0em;
        .rowCus
        {
            display: grid;
            grid-template-columns: auto auto;
            .col-md-3Cus
            {
                padding-top: 3em;
                transform: translateX(-3em);
                .icon
                {
                    display: grid;
                    grid-template-columns: auto auto;
                    i
                    {

                    }
                }
            }
            .componentLogo
            {
                padding-left: 6em;
            }
        }
    }
}