@import "./components/body/shop/shop.scss";
@import "./components/footer/Footer.scss";
@import "./components/body/helper/login/Login.scss";
@import "./components/body/home/Home.scss";
@import "./components//body/smallComponent/SmallComponent.scss";
@import "./components/header/Header.scss";
@import "./components/body/checkout/CheckoutForm.scss";
@import "./components/body/helper/signup/Signup.scss";
@import "./components/body/cart/Cart.scss";
@import "./components/smallComponent/SmallComponent.scss";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  clear: both;
}

body
{
  overflow-x: hidden;
}
