.imageForm1
{
   height: 100vh;
   max-width: 100%;
   border-top-right-radius: 40%;
   border-bottom-right-radius: 40%;
   object-fit: cover;
}
.PaperForm1
{
    width: 30%;
    height: 40%;
    margin: 10%;
    border-radius: 5%;
    padding-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 99;
    animation-name: Slider1code;
    animation-duration: 1.2s;
    .registerLink,.WelcomeText
    {
        color: white;
    }
    .WelcomeText
    {
        margin: 20% 0% 0% 10%;
        font-size: 3vw;
    }
}
@keyframes Slider1code
{
    0%
    {
        left: -2%;
        top: -2%;
    }
    100%
    {
        left: 0%;
        top: 0%;
    }
}